/* ===========================
   ======= Body style ======== 
   =========================== */
   
   body {
    background-image: url('img/newBG.jpg');
    color: #000305;
    font-size: 87.5%; /* Base font size: 14px */
    font-family: 'Trebuchet MS', Trebuchet, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.429;
    margin: 0;
    padding: 0;
    text-align: left;
  }

  .body {
    clear: both; 
    margin: 0 auto; 
    width: 90%;
  }

/* ===========================
   ========= Headings ======== 
   =========================== */
   h2 {font-size: 1.571em}  /* 22px */
   h3 {font-size: 1.429em}  /* 20px */
   h4 {font-size: 1.286em}  /* 18px */
   h5 {font-size: 1.143em}  /* 16px */
   h6 {font-size: 1em}    /* 14px */

   h2, h3, h4, h5, h6 {
    font-weight: 400;
    line-height: 1.1;
    margin-bottom: .8em;
  }

  h2{
    font-weight:100;
    color: #CF5C3F;
    text-shadow: 1px 1px 1px gray;
    display: inline;
    text-decoration: none;
  }

  h6{
    font-weight:100;
    color: gray;
    font-style:italic;
    display: inline;
    text-decoration: none;
  }

/* ===========================
   ======= Anchor style ====== 
   =========================== */
   a {
    outline: 0;
  }





  .mainContent a:link, a:visited {
    color: #CF5C3F;
    padding: 0 1px;
    text-decoration: none;
  }

  .mainContent a:hover, a:active {
    background-color: #CF5C3F;
    color: #fff;
    text-decoration: none;
  }

  /* ---------------------------------------------------------- */
  /* ---------------------   Main Header   -------------------- */
  /* ---------------------------------------------------------- */

  .mainHeader nav {

    background: #494949;
    font-size: 1.143em;
    height: 40px;
    line-height: 30px;
    margin: 0 auto 30px auto;
    text-align: center;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    text-shadow: 1px 1px 1px black;
  }

  .mainHeader nav ul {
    list-style: none; 
    margin: 0 auto;
  }

  .mainHeader nav ul .listFirst li{
    float: left; 
    display: inline; 
  }

  .mainHeader nav li .listTop a {
    float: right; 
    display: inline; 
  }

  .mainHeader nav .listFirst li a:link, .mainHeader nav .listFirst li a:visited {
    color: #fff;
    display: inline-block;
    height: 30px;
    padding: 5px 23px;
    text-decoration: none;
  }

  .mainHeader nav .listFirst  li a:hover, .mainHeader nav a:active,
  .mainHeader nav .active a:link, .mainHeader nav .active a:visited {

    background: #CF0000;
    color: #fff;
    text-shadow: none !important;
  }

  .mainHeader nav li .listTop a:hover{
    background-color: none;
    color: #fff;
    text-shadow: none !important;
  }

  .mainHeader nav li a {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
  }

  .mainHeader img {
    width: 104.5%;
    height: auto;
    margin: 2% -4.5%;
  }

  /* ------------------------------------------------------------ */
  /* -------------------------   Conent   ----------------------- */
  /* ------------------------------------------------------------ */

  .mainContent {

    overflow: hidden;
    line-height: 25px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
  }

  .topcontent {
    height: 600;
    background-color: #FFF;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px; 
    padding: 3% 5%; 
    margin-bottom: 3%;

  }

  .middlecontent {
    background-color: #FFF;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px; 
    padding: 3% 5%; 
    margin-bottom: 3%;
  }

  .content {
    width: 100%;
    float: left;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px; 
  }


  .post-info {
   font-style: italic;
   color: #999;
   font-size: 85%;
 }

 /* ------------------------------------------------------------ */
 /* ------------------------   Projects   ---------------------- */
 /* ------------------------------------------------------------ */

 .projectContent {
  width: 100%;
  float: none;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px; 
}

.subProjectContent{

  text-align: left;
  display: inline-block; 
  background-color: #FFF;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px; 
  padding: 3% 5%; 
  margin-bottom: 3%;
}

.projectHeader{
  text-align: center;

}
.projectHeader a:hover, a:active {
    background-color: #ffffff;
    color: #CF5C3F;
    text-decoration: none;
  }

.subLeft{

  float: left;
  width: 60%;
}

.subLeft img {
  width: 95%;
  height: auto;
  margin: 0% 0%;
}

.subRight{
  margin-top: -2.5%;
  margin-bottom: -6%;

}

.interestLeft{
  float: left;
  width: 50%;
}

.interestLeft img {
  width: 95%;
  height: auto;
  margin: 0% 0%;
}

.interestRight{
  float: right;
  width: 50%;
}

.interestRight img {
  width: 95%;
  height: auto;
  margin: 0% 0%;
}

.videowrapper {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px; height: 0; overflow: hidden;
}

.videowrapper iframe,
.videowrapper object,
.videowrapper embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 95%;
  height: 97%;
}

/* ==============================================================
   ======================   Game Canvas   =======================
   ============================================================== */
.gameCanvas{
   display: table;   
   margin: 0 auto;
   width: 100%;
}

.gameCanvas canvas {
  display: table;   
   margin: 0 auto;
   margin-bottom: 2%;
   margin-top: 2%;
   
  
}

.gameCanvasRight{
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  display: table;   
   margin: 0 auto;
  margin-top: 2%;
  margin-bottom: -2%;
  width: 600px;
 
}


.mineSweeper{
  float: left;
   margin-right: 3%; 
}

.mineSweeper canvas {
  margin: 0% 0%;
}

.mineSweeperRight{
  margin-top: -2.5%;
  margin-bottom: -6%;
 
}



.clear
{
  clear: both;
}




/* ==============================================================
   =========================   Footer   =========================
   ============================================================== */

   .mainFooter {

    width: 100%;
    float: left;
    margin-top: 2%;
    margin-bottom: 2%;
    padding-left: 0;
    background: rgba( 60 , 60 , 60 , 1 );
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px; 
    color: #FFF;
    min-height:40px;
    text-shadow: 1px 1px 1px black;



    box-shadow: inset 0 1px rgba(255, 255 ,255,  0.3 );
    position: relative;

  }



  /*-------------------------   center image  -------------- */


  div.nh{
   position:absolute;
   left:50%;
   top: -6px;
 }


 .mainFooter #bottom-text {
   float :left;
   display: table-cell;
   vertical-align: middle;
   position:relative;
   top: 8px;
   left: 8px;

 }

 .mainFooter #bottom-text a:link, a:visited {
   color: #CF5C3F;
   padding: 0 1px;
   text-decoration: none;

 }

 .mainFooter #bottom-text a:hover, a:active {
   background-color: #CF5C3F;
   color: #fff;
   text-decoration: none;
 }

 .linkedin {

   width: 32px;
   height:32px;
   display:inline;
   vertical-align: middle;
   background:transparent url('img/linkedin.png') center top no-repeat;
   float: right;
   position:relative;
   top: 4px;
   right: 8px;

 }
 .github {
   width: 32px;
   height:32px;
   display:inline;
   background:transparent url('img/github.png') center top no-repeat;
   float: right;
   position:relative;
   top: 4px;
   right: 16px;
 }
 .soundcloud {
   width: 32px;
   height:32px;
   display:inline;
   background:transparent url('img/soundcloud.png') center top no-repeat;
   float: right;
   position:relative;
   top: 4px;
   right: 24px;
 }

 .linkedin:hover {
   background-position: 0 -32px;

 }
 .github:hover {
   background-position: 0 -32px;
 }
 .soundcloud:hover {
   background-position: 0 -32px;
 }



/* ==============================================================
   ======================== Form Styling ========================
   ============================================================== */


   .bottomcontent {
     background-color: #FFF;  
     border-radius: 5px;
     -moz-border-radius: 5px;
     -webkit-border-radius: 5px;  
     padding: 2% 5%;
   }

   .contactForm {
    width: 66%;
    float: left;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px; 
  }


  .leftHalf {
    width: 42%;
    float: left;
    margin-left: 2%;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px; 
    background-color: #FFF; 
    padding: 2% 3%;
    margin-bottom: 2%;
  }

  .leftHalf img {
    width: 100%;
    height: auto;
    margin: 0% 0%;
  }

  .rightHalf {
    width: 42%;
    float: right;
    margin-left: 2%;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px; 
    background-color: #FFF; 
    padding: 2% 3%;
    margin-bottom: 2%;
  }

  .rightHalf img {
    width: 100%;
    height: auto;
    margin: 0% 0%;
  }





/* ==============================================================
   ======================= Media Queries ========================
   ============================================================== */

   @media only screen and (min-width : 150px) and (max-width : 780px)
   {
    .body {
      clear: both; 
      margin: 0 auto; 
      width: 90%;
      font-size: 90%;
    }


    /*  -----------------------------------------------------*/
    /*  ----------    begining of main header   -------------*/
    .mainHeader nav {

     background: #494949;
     font-size: 1.143em;
     height: 240px;
     line-height: 30px;
     margin-bottom: 0;
     border-radius: 5px;
     -moz-border-radius: 5px;
     -webkit-border-radius: 5px;
     text-align:center;

   }

   .mainHeader nav ul{
     list-style: none; 
     margin: 0 auto;
     padding-left: 0;
     vertical-align:middle;
     display:inline;
   }

   .mainHeader nav ul  li .listTop{
     display:inline-block;
     position:relative;
     left: 16px;
   }


   .mainHeader nav li {
     width: 100%;
   }

   .mainHeader nav .listFirst li a:link, .mainHeader nav .listFirst li a:visited {
     color: #FFF;
     display: block;
     height: 30px;
     padding: 5px 0;
     text-decoration: none;
   }

   .mainHeader nav a:active,
   .mainHeader nav .active a:link, .mainHeader nav .active a:visited {
     background: #CF0000;
     color: #fff;
     text-shadow: none !important;
   }

   .mainHeader nav li a {
     border-radius: 5px;
     -moz-border-radius: 5px;
     -webkit-border-radius: 5px;

     border-radius: 5px;
     -moz-border-radius: 5px;
     -webkit-border-radius: 5px;
   }

   .mainHeader img {
     width: 104.5%;
     height: auto;
     margin: 2% -4.5%;
   }
   /*  ----------    begining of main content   -------------*/

   .mainContent {
     overflow: hidden;
     line-height: 25px;
     border-radius: 5px;
     -moz-border-radius: 5px;
     -webkit-border-radius: 5px;
     margin-top: 4%;
     margin-bottom: 2%;
   }

   .topcontent {
     background-color: #FFF;
     border-radius: 5px;
     -moz-border-radius: 5px;
     -webkit-border-radius: 5px;  
     padding: 2% 5%;
     margin-bottom: 4%;
   }

   .bottomcontent {
     background-color: #FFF;  
     border-radius: 5px;
     -moz-border-radius: 5px;
     -webkit-border-radius: 5px;  
     padding: 2% 5%;
   }

   .content {
     width: 100%;
     float: left;
     border-radius: 5px;
     -moz-border-radius: 5px;
     -webkit-border-radius: 5px;  
   }  

   .contactForm {
    width: 100%;
    float: left;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px; 
  }

  .post-info {
   display: none;
 }

 .top-sidebar {
   width: 86%;
   float: left;
   border-radius: 5px;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;  
   background-color: #FFF;  
   margin-top: 4%;
   margin-left: 0;
   padding: 0 7%;
   margin-bottom: 0;    
 }

 .top-sidebar p {
   width: 90%;
 }

 .mainFooter {
   text-align: center;
   width: 100%;
   float: left;
   margin: 2% 0%;
   padding-left: 0;
   background-color: #494949;
   border-radius: 5px;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;  
   color: #FFF; 
 }

 .mainFooter p {
   width: 86%;
   margin: 2% auto;
 }

 .mainFooter .linkedin{visibility:hidden;}
 .mainFooter .github{visibility:hidden;}
 .mainFooter .soundcloud{visibility:hidden;}

 div.nh{
   margin: .5% 20%;
 }


 /* ------------------------------------------------------------ */
 /* ------------------------   Projects   ---------------------- */
 /* ------------------------------------------------------------ */

 .subLeft{
  float: left;
  width: 100%;
}

/*
 .gameCanvas{
  float: left;
  width: 100%;
}
*/

.interestLeft{
  float: left;
  width: 100%;
}

.interestRight{
  float: right;
  width: 100%;
}


}