/* ===========================
   ======= Body style ========
   =========================== */

   body {
    background-image: url('img/mainBG.png');
    color: #000305;
    font-size: 87.5%; /* Base font size: 14px */
    font-family: 'Trebuchet MS', Trebuchet, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.429;
    margin: 0;
    padding: 0;
    text-align: left;
  }

  .body {
    clear: both;
    margin: 0 auto;
  }

  /* ---------------------------------------------------------- */
  /* --------------------  Header Styles   ------------------- */
  /* --------------------------------------------------------- */

  h2 {font-size: 1.571em}  /* 22px */
  h3 {font-size: 1.429em}  /* 20px */
  h4 {font-size: 1.286em}  /* 18px */
  h5 {font-size: 1.143em}  /* 16px */
  h6 {font-size: 1em}    /* 14px */

  h2, h3, h4, h5, h6 {
    font-weight: 400;
    line-height: 1.1;
    margin-bottom: .8em;
  }

  h2{
    font-weight:100;
    color: #000;
    /*text-shadow: 1px 1px 1px gray;*/
    display: inline;
    text-decoration: none;
  }

  h6{
    font-weight:100;
    color: gray;
    font-style:italic;
    display: inline;
    text-decoration: none;
  }

  /* ---------------------------------------------------------- */
  /* ---------------------  Random Styles   ------------------- */
  /* ---------------------------------------------------------- */

  a {
    outline: 0;
  }

  .mainContent a:link, a:visited {
    color: #CF5C3F;
    padding: 0 1px;
    text-decoration: none;
  }

  .mainContent a:hover, a:active {
    background-color: #CF5C3F;
    color: #fff;
    text-decoration: none;
  }

  ul, li, nav, p {

    margin:0;
    padding:0;
    border:0;
    outline: none;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
  }


  nav ul,ul,ol {
    list-style:none;
  }


  /* ---------------------------------------------------------- */
  /* ------------------------  Header   ----------------------- */
  /* ---------------------------------------------------------- */

  .mainMenu {

    width: 100%;
    height: 70px;
    background-color: #121212;
    z-index: 10;

  }

  .mainMenu nav {
    height: 90px;

  }


  .mainMenu nav ul {
    height: 100%;
  }

  .mainMenu nav ul li {
    display: inline-block;
    height: 100%;
    font: 11px/6.36em "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: 0.25em;
    list-style-type: none;
    text-transform: uppercase;
  }


  .mainMenu nav ul li.first a {
    padding-left: 0px;
  }
  .mainMenu nav ul li.last a {
    padding-right: 0px;
  }
  .mainMenu nav a {
    display: block;
    padding-left: 18px;
    padding-right: 18px;
    text-decoration: none;
    color: #fff;
  }
  .mainMenu nav ul li a:hover, .mainMenu nav ul li.active a {
    color: #c15961;
  }


  .rightThenMid
  {
   float: right;
   margin: auto;

 }


 .logo {
  float: left;
  display: inline-block;
  width: 450px;
  height: 70px;
  background-image: url('img/companyLogo.png');
  background-repeat: no-repeat;
  margin: auto;
}



/* ------------------------------------------------------------ */
/* -------------------------   Conent   ----------------------- */
/* ------------------------------------------------------------ */

.mainContent {

  overflow: hidden;
  line-height: 25px;
  width: 100%;
  clear:both;


}

.content {
 margin: 0 auto;
 width: 80%;
 background-color: #FFF;
 margin-bottom: 8%;

}

.vanish{ visibility:hidden; }

.leftcontent {
  float: left;
  width: 44%;
  height: 600;
  padding: 3% 3%;
}
.rightcontent {
  width: 44%;
  float: right;
  padding: 2% 3%;

}


.post-info {
 font-style: italic;
 color: #999;
 font-size: 85%;
}

/* ------------------------------------------------------------ */
/* ------------------------   Projects   ---------------------- */
/* ------------------------------------------------------------ */

.projectContent {
  width: 80%;
  float: none;
  margin: auto;
  margin-bottom: 3%;
}

.subProjectContent{

  text-align: left;
  display: inline-block;
  background-color: #FFF;
  padding-right: 5%;
  padding-left: 5%;
  padding-top: 3%;
  padding-bottom: 6%;
  margin-bottom: 3%;
}

.projectHeader{
  text-align: center;

}
.projectHeader a:hover, a:active {
  background-color: #ffffff;
  color: #CF5C3F;
  text-decoration: none;
}

.subLeft{

  float: left;
  width: 100%;
}

.subLeft img {
  width: 95%;
  height: auto;
  margin: 0% 0%;
}

.subRight{
  margin-top: -2.5%;
  margin-bottom: -6%;

}

.interestLeft{
  float: left;
  width: 100%;
}

.interestLeft img {
  width: 95%;
  height: auto;
  margin: 0% 0%;
}

.interestRight{
  float: right;
  width: 100%;
}

.interestRight img {
  width: 95%;
  height: auto;
  margin: 0% 0%;
}

.videowrapper {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px; height: 0; overflow: hidden;
}

.videowrapper iframe,
.videowrapper object,
.videowrapper embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 95%;
  height: 97%;
}

/* ==============================================================
   ======================   Game Canvas   =======================
   ============================================================== */
   
   .gameCanvas{
     display: table;
     margin: 0 auto;
     width: 100%;
   }

   .gameCanvas canvas {
    display: table;
    margin: 0 auto;
    margin-bottom: 2%;
    margin-top: 2%;


  }

  .gameCanvasRight{
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    display: table;
    margin: 0 auto;
    margin-top: 2%;
    margin-bottom: -2%;
    width: 600px;

  }

   .mineSweeper{
     display: table;
     margin: 0 auto;
     width: 100%;
   }

  .mineSweeper canvas {
    display: table;
    margin: 0 auto;
    margin-bottom: 2%;
    margin-top: 2%;


  }





  .clear
  {
    clear: both;
  }




/* ==============================================================
   =========================   Footer   =========================
   ============================================================== */

   #footer {
    position: fixed;
    z-index: 10;
    left: 0;
    right: 0;
    bottom: 0;
    height: 40px;
    background: #121212;

  }



  #footer .left a {

    float: left;
    font: 11px/6.36em "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    height: 40px;
    line-height: 40px;
    padding: 0 14px 0 12px;
    color: #c15961;
    text-decoration: none;

  }




  /*-------------------------   center image  -------------- */



  .linkedin {

   width: 32px;
   height:32px;
   display:inline;
   vertical-align: middle;
   background:transparent url('img/linkedin.png') center top no-repeat;
   float: right;
   position:relative;
   top: 4px;
   right: 8px;

 }
 .github {
   width: 32px;
   height:32px;
   display:inline;
   background:transparent url('img/github.png') center top no-repeat;
   float: right;
   position:relative;
   top: 4px;
   right: 16px;
 }
 .soundcloud {
   width: 32px;
   height:32px;
   display:inline;
   background:transparent url('img/soundcloud.png') center top no-repeat;
   float: right;
   position:relative;
   top: 4px;
   right: 24px;
 }

 .linkedin:hover {
   background-position: 0 -32px;

 }
 .github:hover {
   background-position: 0 -32px;
 }
 .soundcloud:hover {
   background-position: 0 -32px;
 }




/*
  .leftHalf {
    width: 42%;
    float: left;
    margin-left: 2%;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: #FFF;
    padding: 2% 3%;
    margin-bottom: 2%;
  }

  .leftHalf img {
    width: 100%;
    height: auto;
    margin: 0% 0%;
  }

  .rightHalf {
    width: 42%;
    float: right;
    margin-left: 2%;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: #FFF;
    padding: 2% 3%;
    margin-bottom: 2%;
  }

  .rightHalf img {
    width: 100%;
    height: auto;
    margin: 0% 0%;
  }
  */




  /*  ------------------------------------------------------*/
  /*  --------------    responsive design   ----------------*/
  /*  ------------------------------------------------------*/





  @media only screen and (max-width : 65.625em) {
    .body {
      clear: both;
      margin: 0 auto;
      font-size: 90%;
    }

    .mainMenu {
      width: 100%;
      height: 140px;
      background-color: #121212;
      z-index: 10;
    }


   .mainMenu nav {

    height: 190px;

  }

  .mainMenu nav ul {

    height: 100%;
    display: inline-block;
    list-style-type: none;

  }


  .mainMenu nav ul li {
    display: inline-block;
    height: 100%;
    font: 11px/6.36em "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: 0.25em;
    list-style-type: none;
    text-transform: uppercase;
  }

  .rightThenMid
  {
    display:block;
    margin:0 auto;
    text-align:center;
    float: none;


  }
  .logo {
    display:  block;
    margin:auto;
    width: 450px;
    height: 70px;
    background-image: url('img/companyLogo.png');
    background-repeat: no-repeat;


    text-align:center;
    float: none;


  }

  .mainContent {
   overflow: hidden;
   line-height: 25px;
   border-radius: 5px;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
   margin-top: 4%;
   margin-bottom: 2%;

 }
   .content {
     margin: 0 auto;
     width: 80%;
     background-color: #FFF;
     margin-bottom: 8%;

   }

 .interestLeft{
  float: left;
  width: 100%;
}

.interestRight{
  float: right;
  width: 100%;
}

.subLeft{
  float: left;
  width: 100%;
}



}








@media only screen and (min-width : 150px) and (max-width : 780px)
{
  .body {
    clear: both;
    margin: 0 auto;
    font-size: 90%;
  }



  /*  ------------------------------------------------------*/
  /*  ---------------------    header   --------------------*/
  /*  ------------------------------------------------------*/



  .mainMenu {
    width: 100%;
    height: 140px;
    background-color: #121212;
    z-index: 10;
  }


  .mainMenu nav {

    height: 190px;

  }

  .mainMenu nav ul {

    height: 100%;
    display: inline-block;
    list-style-type: none;

  }


  .mainMenu nav ul li {
    display: inline-block;
    height: 100%;
    font: 11px/6.36em "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: 0.25em;
    list-style-type: none;
    text-transform: uppercase;
  }

  .rightThenMid
  {
    display:block;
    margin:0 auto;
    text-align:center;
    float: none;


  }
  .logo {
    display:  block;
    margin:auto;

    background-image: url('img/companyLogo.png');
    background-repeat: no-repeat;
    width: 300px;
    height: 70px;
    background-position: center;

    background-size: 300px 46px;

    text-align:center;
    float: none;




  }

  /*  ------------------------------------------------------*/
  /*  --------------------    content   --------------------*/
  /*  ------------------------------------------------------*/
  .mainContent {
   overflow: hidden;
   line-height: 25px;
   border-radius: 5px;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
   margin-top: 4%;
   margin-bottom: 2%;

 }

 .content {

 margin-bottom: 10%;

}

.leftcontent {
  width: 90%;
  display:block;
  margin:0 auto;
  text-align:left;
  float: none;



}
.rightcontent {

  width: 90%;
  display:block;
  margin:0 auto;
  text-align:left;
  float: none;
}

.vanish{
  visibility:visible;
}

.post-info {
 display: none;
}

.top-sidebar {
 width: 86%;
 float: left;
 border-radius: 5px;
 -moz-border-radius: 5px;
 -webkit-border-radius: 5px;
 background-color: #FFF;
 margin-top: 4%;
 margin-left: 0;
 padding: 0 7%;
 margin-bottom: 0;
}

.top-sidebar p {
 width: 90%;
}

.mainFooter {
 text-align: center;
 width: 100%;
 float: left;
 margin: 2% 0%;
 padding-left: 0;
 background-color: #494949;
 border-radius: 5px;
 -moz-border-radius: 5px;
 -webkit-border-radius: 5px;
 color: #FFF;
}

.mainFooter p {
 width: 86%;
 margin: 2% auto;
}

.projectContent {

  margin-bottom: 8%;
}

.mainFooter .linkedin{visibility:hidden;}
.mainFooter .github{visibility:hidden;}
.mainFooter .soundcloud{visibility:hidden;}



/* ------------------------------------------------------------ */
/* ------------------------   Projects   ---------------------- */
/* ------------------------------------------------------------ */

.subLeft{
  float: left;
  width: 100%;
}

.interestLeft{
  float: left;
  width: 100%;
}

.interestRight{
  float: right;
  width: 100%;
}


}
